"""
    Dashboard Deutschland API

    Auf https://www.dashboard-deutschland.de bietet das Statistische Bundesamt DESTATIS einen Überblick zu gesellschaftlich und wirtschaftlich relevanten Daten aus unterschiedlichen Themenbereichen. Diese werden durch Grafiken und Texte ergänzt und regelmäßig aktualisiert. Damit soll eine Möglichkeit geboten werden, aktuelle Kennzahlen und deren Entwicklung übersichtlich darzustellen.  # noqa: E501

    The version of the OpenAPI document: 1.0.0
    Contact: andreasfischer1985@web.de
    Generated by: https://openapi-generator.tech
"""

import re  # noqa: F401
import sys  # noqa: F401

from deutschland.DashboardDeutschland.api_client import ApiClient
from deutschland.DashboardDeutschland.api_client import Endpoint as _Endpoint
from deutschland.DashboardDeutschland.model.indicators import Indicators
from deutschland.DashboardDeutschland.model_utils import (  # noqa: F401
    check_allowed_values,
    check_validations,
    date,
    datetime,
    file_type,
    none_type,
    validate_and_convert_types,
)


class IndicatorsApi(object):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client
        self.indicators_endpoint = _Endpoint(
            settings={
                "response_type": ([Indicators],),
                "auth": [],
                "endpoint_path": "/api/tile/indicators",
                "operation_id": "indicators",
                "http_method": "GET",
                "servers": None,
            },
            params_map={
                "all": [
                    "id",
                ],
                "required": [],
                "nullable": [],
                "enum": [],
                "validation": [],
            },
            root_map={
                "validations": {},
                "allowed_values": {},
                "openapi_types": {
                    "id": (str,),
                },
                "attribute_map": {
                    "id": "id",
                },
                "location_map": {
                    "id": "query",
                },
                "collection_format_map": {},
            },
            headers_map={
                "accept": ["application/json"],
                "content_type": [],
            },
            api_client=api_client,
        )

    def indicators(self, **kwargs):
        """Zugriff auf unterschiedliche Indikatoren  # noqa: E501

        Die API ermöglicht Zugriff auf unterschiedliche Indikatoren im JSON-Format über einfache GET-request.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.indicators(async_req=True)
        >>> result = thread.get()


        Keyword Args:
            id (str): \"Die API ermöglicht Zugriff auf unterschiedliche Indikatoren im JSON-Format über einfache GET-requests mit nur einem Parameter (namens `id`). Der Parameter `id` spezifizierten den gewünschten Indikator. Mögliche Ausprägungen sind im Folgenden nach Kategorien getrennt aufgelistet und in runden Klammern kurz erläutert. Mehrere Semikolon-getrennte Angaben sind möglich.   - tile_1669367676459 (Anteil des Einkommens, den Miethaushalte für eine warme Wohnung (einschl. Strom) ausgeben, nach Haushaltsgröße und Ländern) - tile_1654002158461 (Importe und Exporte von Wasserstoff) - tile_1669189367122 (Wohngebäude nach Baujahr und Energieträger der Heizung in Hamburg) - tile_1669296178221 (Wohngebäude nach Gebäudegröße und Energieträger der Heizung in Schleswig-Holstein) - tile_1673880739519 (Entwicklung des deutschen Arbeitsmarktes anhand der LinkedIn Hiring Rate) - ginsy_ges_infra_ausst_intensivbetten_de (Krankenhauskapazitäten) - data_steuereinnahmen_insgesamt_gemeinden (Kassenmäßige Steuereinnahmen insgesamt und der Gemeinden/Gemeindeverbände) - tile_1669196133752 (Wohngebäude nach Baujahr und Energieträger der Heizung in Niedersachsen) - tile_1650978274644 (Verschuldung des Bundeshaushalts inklusive Darlehensfinanzierung nach Restlaufzeiten) - tile_1669192154976 (Wohngebäude nach Gebäudegröße und Energieträger der Heizung in Deutschland) - tile_1667460685909 (Einzelhandelsumsatz) - tile_1669284482727 (Wohngebäude nach Gebäudegröße und Energieträger der Heizung in Berlin) - tile_1669121404231 (Wohngebäude nach Baujahr und Energieträger der Heizung in Bayern) - tile_1667828024262 (Auftragseingang im Verarbeitenden Gewerbe) - tile_1667289137702 (ifo Produktionserwartungen) - tile_1667995478843 (Ölpreis (Sorte Brent)) - data_woh_preise_immobilien_hpi_wohnungen (Preisindex für Eigentumswohnungen nach Kreistypen) - tile_1654000747086 (Fertiggestellte Neubauten nach überwiegend verwendeter Heizenergie) - tile_1667811574092 (Entwicklung des Bruttoinlandsprodukts) - tile_1669284915997 (Wohngebäude nach Gebäudegröße und Energieträger der Heizung in Brandenburg) - tile_1669199369233 (Wohngebäude nach Baujahr und Energieträger der Heizung in Sachsen) - data_woh_bruttokaltmiete (Verbraucherpreisindex für Nettokaltmiete, Wohnungsnebenkosten und Haushaltsenergie) - tile_1666960424161 (Baltic Dry Index) - tile_1663665588691 (Verbrauch von Mineralölprodukten in Deutschland) - tile_1669283059085 (Wohngebäude nach Gebäudegröße und Energieträger der Heizung in Bayern) - tile_1667890765659 (Produktion im Baugewerbe) - data_bau_kapazitaetsauslastung_bbsr (Kapazitätsauslastung im Baugewerbe) - tile_1663667563512 (Produktion von Solarkollektoren, Solarmodulen und Wärmepumpen) - tile_1651060108903 (Energieverbrauch für Wohnen nach Anwendungsbereichen) - tile_1669291731814 (Wohngebäude nach Gebäudegröße und Energieträger der Heizung in Nordrhein-Westfalen) - tile_1663667870377 (Umsatz mit Motorenkraftstoffen an Tankstellen) - tile_1667814729862 (Entwicklung ausgewählter Aggregate des Bruttoinlandsprodukts) - data_bau_bauleistungspreise (Baupreisindizes) - data_gemeinschaft_bundes_landessteuern (Kassenmäßige Steuereinnahmen aus Gemeinschaft-, Bundes- und Landessteuern) - data_steuereinnahmen_bund_laender (Kassenmäßige Steuereinnahmen von Bund und Ländern) - tile_1654606920834 (Weltmarktpreise für Weizen) - data_iab_ifo_barometer (Stimmungsindikatoren Arbeitsmarkt) - tile_1666962783823 (Exporterwartungen und Containerumschlag) - data_aussenhandel_laendergruppen (Außenhandel mit ausgewählten Ländergruppen) - tile_1667208064878 (Tischreservierungen über OpenTable) - tile_1669196285543 (Wohngebäude nach Baujahr und Energieträger der Heizung in Nordrhein-Westfalen) - data_woh_energieverbrauch_energietraeger (Energieverbrauch für Wohnen nach Energieträgern) - tile_1669285361958 (Wohngebäude nach Gebäudegröße und Energieträger der Heizung in Bremen) - tile_1650978797816 (Verschuldung des Bundeshaushalts und seiner Sondervermögen) - tile_1663663630535 (Aufkommen und Verwendung von Wasserstoff) - tile_1667215458776 (HWWI-Rohstoffpreisindex) - tile_1668694599167 (Preisveränderung) - data_preise_strom (Strompreis) - tile_1669189080637 (Wohngebäude nach Baujahr und Energieträger der Heizung in Bremen) - tile_1669128138583 (Wohngebäude nach Baujahr und Energieträger der Heizung in Brandenburg) - tile_1667921381760 (Kraftstoffpreise an öffentlichen Tankstellen) - tile_1667810908930 (Umsatz im Gastgewerbe) - tile_1667210963256 (Aktienindizes) - tile_1669291473838 (Wohngebäude nach Gebäudegröße und Energieträger der Heizung in Niedersachsen) - tile_1669294221255 (Wohngebäude nach Gebäudegröße und Energieträger der Heizung im Saarland) - tile_1669290807065 (Wohngebäude nach Gebäudegröße und Energieträger der Heizung in Hessen) - tile_1654001211812 (Importe fossiler Energieträger) - tile_1654002609295 (Energieverbrauch der Industrie nach Energieträgern) - data_bau_beschaeftigung_vgr (Beschäftigung im Baugewerbe) - tile_1666961011248 (DIW Konjunkturbarometer) - tile_1667214343714 (Stromverbrauch) - tile_1663664931250 (Exporte und Importe von Wärmepumpen und Photovoltaikanlagen) - tile_1669196505323 (Wohngebäude nach Baujahr und Energieträger der Heizung in Rheinland-Pfalz) - tile_1669290437600 (Wohngebäude nach Gebäudegröße und Energieträger der Heizung in Hamburg) - tile_1667308898055 (Preisentwicklung für ausgewählte Baumaterialien) - tile_1667824915093 (Produktion im Produzierenden Gewerbe) - tile_1663666887687 (Preisentwicklung für Energie (Strom, Gas und andere Brennstoffe) im EU-Vergleich) - data_woh_baugenehmigungen_wohnungen (Anzahl genehmigter Wohnungen im Neubau nach Gebäudeart) - tile_1650979109395 (Anteil der Grünen Bundeswertpapiere an der Verschuldung des Bundes inklusive Darlehensfinanzierung) - tile_1667828804581 (Umsatz im Verarbeitenden Gewerbe) - tile_1663666467966 (Neuzulassungen von Personenkraftwagen nach Antriebsarten) - tile_1669295737260 (Wohngebäude nach Gebäudegröße und Energieträger der Heizung in Sachsen) - tile_1669121170132 (Wohngebäude nach Baujahr und Energieträger der Heizung in Baden-Württemberg) - tile_1669197166529 (Wohngebäude nach Baujahr und Energieträger der Heizung im Saarland) - tile_1667288019608 (ifo Geschäftsklima) - data_aussenhandelsbilanz (Außenhandelsbilanz) - tile_1678111428688 (Genehmigte und fertiggestellte Wohnungen) - tile_1669120080204 (Wohngebäude nach Baujahr und Energieträger der Heizung in Deutschland) - tile_1669189535447 (Wohngebäude nach Baujahr und Energieträger der Heizung in Hessen) - data_produktion_ausgewaehlte_branchen (Produktion in Branchen des Produzierenden Gewerbes) - tile_1669295963925 (Wohngebäude nach Gebäudegröße und Energieträger der Heizung in Sachsen-Anhalt) - tile_1667205800085 (Lkw-Maut-Fahrleistungsindex) - data_woh_baugenehmigungen_bautraeger (Anzahl der genehmigten Wohnungen nach Bauherr) - tile_1667993866759 (Gasimporte nach Deutschland) - tile_1667825347006 (Dienstleistungsproduktion) - tile_1654070793733 (Umsatz im Ausbaugewerbe) - data_staats_und_unt_anleihen (Umlaufrenditen Staats- und Unternehmensanleihen) - data_einnahmen_gemeinschaft_bundes_landessteuern (Bereinigte kassenmäßige Steuereinnahmen aus Gemeinschaft-, Bundes- und Landessteuern) - tile_1669199838683 (Wohngebäude nach Baujahr und Energieträger der Heizung in Thüringen) - tile_1665656599909 (Umsatz mit Maßnahmen zur Verbesserung der Energieeffizienz von Gebäuden) - data_bau_auftragseingang (Auftragseingang im Bauhauptgewerbe) - tile_1669291142943 (Wohngebäude nach Gebäudegröße und Energieträger der Heizung in Mecklenburg-Vorpommern) - tile_1669209397487 (Wohngebäude nach Gebäudegröße und Energieträger der Heizung in Baden-Württemberg) - tile_1667987544456 (Flugverkehr Deutschland) - tile_1667832713510 (Außenhandel mit ausgewählten Ländern) - tile_1667830902757 (Außenhandel) - defacto_ges_diag_covid19_hospitalizationincidence_map_de (Covid-19-Hospitalisierungen) - tile_1669122207624 (Wohngebäude nach Baujahr und Energieträger der Heizung in Berlin) - tile_1667989324139 (Flugverkehr weltweit) - tile_1669293977917 (Wohngebäude nach Gebäudegröße und Energieträger der Heizung in Rheinland-Pfalz) - data_auftragseingang_ausgewaehlte_branchen (Auftragseingang in Branchen des Verarbeitenden Gewerbes) - tile_1666961555651 (Nettostromerzeugung) - tile_1663665904253 (Nettonennleistung der Anlagen zur Elektrizitätserzeugung) - data_umsatz_ausgewaehlte_branchen (Umsatz in Branchen des Verarbeitenden Gewerbes) - data_preise_gold_kupfer (Gold- und Kupferpreis) - tile_1669189699623 (Wohngebäude nach Baujahr und Energieträger der Heizung in Mecklenburg-Vorpommern) - tile_1656076602735 (Preisindizes zu Bau oder Erwerb von Wohneigentum) - tile_1667821076015 (Absatz von Warengruppen im Lebensmitteleinzelhandel) - tile_1666960227357 (Pegelstände am Rhein) - tile_1667289768923 (ifo Knappheitsindikator) - data_mobilitaet_hystreet (Passantenfrequenzen: Veränderung in ausgewählten Großstädten) - tile_1667982573430 (Passantenfrequenzindex) - tile_1669199670270 (Wohngebäude nach Baujahr und Energieträger der Heizung in Schleswig-Holstein) - tile_1669366140497 (Anteil des Einkommens, den Miethaushalte für eine warme Wohnung (einschl. Strom) ausgeben, nach Haushaltsgröße) - tile_1667995046610 (Bonitätschecks von Wohnungssuchenden) - ginsy_ges_bev_sterbl_rel_sterbl_map_de (Relative Sterbefallzahlen in Deutschland im Vergleich) - tile_1667217389888 (Wechselkurs US-Dollar/Euro) - data_umlaufrenditen_bundesanleihen (Renditen Bundeswertpapiere) - tile_1669108022095 (Wohngebäude nach Heizungsart) - tile_1650977632272 (Verschuldung der bedeutendsten Sondervermögen des Bundes) - tile_1667211885741 (Wöchentlicher Aktivitätsindex) - tile_1666960710868 (Automobilindustrie) - tile_1667822587333 (Erwerbstätigkeit) - data_vdma_blitzumfragen (Blitzumfragen im Maschinen- und Anlagenbau) - tile_1669296388975 (Wohngebäude nach Gebäudegröße und Energieträger der Heizung in Thüringen) - data_woh_baugenehmigungen_wohnflaeche (Wohnfläche in genehmigten Neubauwohnungen) - tile_1667982123933 (HCOB Einkaufsmanagerindex) - tile_1667226778807 (Täglicher LKW-Maut-Fahrleistungsindex) - tile_1667228531297 (ZEW Konjunkturausblick) - tile_1669368695741 (Durchschnittliche Wohnkosten für Hauptmiethaushalte je Wohnung nach Haushaltsgröße) - tile_1663665272454 (Genehmigte neu zu errichtende Wohngebäude mit ein und zwei Wohnungen nach überwiegend verwendeter Heizenergie) - tile_1669368380310 (Durchschnittliche Wohnkosten für Hauptmiethaushalte je Quadratmeter nach Haushaltsgröße) - tile_1667826504852 (Energiepreisveränderung) - tile_1667227714015 (Füllstand deutscher Erdgasspeicher) - tile_1667821569597 (Außenhandel nach VGR-Konzept) - tile_1654068021178 (Umsatz im Bauhauptgewerbe) - tile_1666958835081 (Arbeitslosigkeit und offene Stellen) - ginsy_ges_bev_sterbl_abs_sterbl_de (Wöchentliche Sterbefallzahlen in Deutschland) - tile_1666961477511 (Entwicklung des deutschen Arbeitsmarktes anhand von Stellenausschreibungen auf Indeed) - data_zinsspread_10_j_anleihen (Renditespreads 10-jähriger Staatsanleihen gegenüber Deutschland) - data_gemeindesteuern (Kassenmäßige Steuereinnahmen aus Gemeindesteuern) - tile_1667817211258 (Neue Hypothekenverträge) - tile_1669199513126 (Wohngebäude nach Baujahr und Energieträger der Heizung in Sachsen-Anhalt) - data_woh_nettokaltmiete (Verbraucherpreisindex für Nettokaltmiete nach Kreistypen) - data_woh_preise_immobilien_hpi_haueser (Preisindex für Ein- und Zweifamilienhäuser nach Kreistypen) - data_ba_kurzarbeit (Kurzarbeit) - tile_1667983271066 (Stimmungsindikatoren Konsum) - tile_1667978809506 (Kreditvergaben und Online-Transaktionen) - tile_1663664545105 (Benzinpreise im EU-Vergleich) . [optional]
            _return_http_data_only (bool): response data without head status
                code and headers. Default is True.
            _preload_content (bool): if False, the urllib3.HTTPResponse object
                will be returned without reading/decoding response data.
                Default is True.
            _request_timeout (int/float/tuple): timeout setting for this request. If
                one number provided, it will be total request timeout. It can also
                be a pair (tuple) of (connection, read) timeouts.
                Default is None.
            _check_input_type (bool): specifies if type checking
                should be done one the data sent to the server.
                Default is True.
            _check_return_type (bool): specifies if type checking
                should be done one the data received from the server.
                Default is True.
            _spec_property_naming (bool): True if the variable names in the input data
                are serialized names, as specified in the OpenAPI document.
                False if the variable names in the input data
                are pythonic names, e.g. snake case (default)
            _content_type (str/None): force body content-type.
                Default is None and content-type will be predicted by allowed
                content-types and body.
            _host_index (int/None): specifies the index of the server
                that we want to use.
                Default is read from the configuration.
            _request_auths (list): set to override the auth_settings for an a single
                request; this effectively ignores the authentication
                in the spec for a single request.
                Default is None
            async_req (bool): execute request asynchronously

        Returns:
            [Indicators]
                If the method is called asynchronously, returns the request
                thread.
        """
        kwargs["async_req"] = kwargs.get("async_req", False)
        kwargs["_return_http_data_only"] = kwargs.get("_return_http_data_only", True)
        kwargs["_preload_content"] = kwargs.get("_preload_content", True)
        kwargs["_request_timeout"] = kwargs.get("_request_timeout", None)
        kwargs["_check_input_type"] = kwargs.get("_check_input_type", True)
        kwargs["_check_return_type"] = kwargs.get("_check_return_type", True)
        kwargs["_spec_property_naming"] = kwargs.get("_spec_property_naming", False)
        kwargs["_content_type"] = kwargs.get("_content_type")
        kwargs["_host_index"] = kwargs.get("_host_index")
        kwargs["_request_auths"] = kwargs.get("_request_auths", None)
        return self.indicators_endpoint.call_with_http_info(**kwargs)
